footer.footer
    .footer__icon
        i.fas.fa-shopping-cart
    .copy__intro
        span.footer__text &copy; #{new Date().getFullYear()} poeynus-mall
    .copy__phone        
        span.footer__phone 010-5246-8981
