extends layouts/main.pug

block content
    .event-container
        img(src="https://postfiles.pstatic.net/MjAyMDExMzBfMjM0/MDAxNjA2NzM1Nzk3ODUw.gbBDZDeDXxkKafcZ9E08AqnIrmAeFlT2fu1Dfaml2Z0g.sZNs83YVhrBef7LHYR-lXl_1RxTLJo_ksBCTgDIiwKAg.PNG.poeynus/%EC%BA%A1%EC%B2%98-removebg-preview.png?type=w966")
    .goods
        each item in goods
            .goods_content
                a(href=routes.goodsDetail(item.id))
                    img(src=item.fileUrl)
                    .goods_main_description
                        h1= item.title
                        h2= `${item.pays} 원`