.goods__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3a5998;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
  }
  .goods__form-img {
    img {
      width: 600px;
      height: 400px;
      border: 3px solid black;
      border-radius: 15px;
    }
  }
}
.goods__form-info {
  height: 100%;
  max-height: 1000px;
  width: 100%;
  max-width: 1600px;
  margin-top: 10px;
  .goods__form-container {
    display: flex;
    justify-content: space-evenly;
    a {
      font-size: 20px;
      text-decoration: none;
      background-color: skyblue;
      color: white;
      padding: 5px;
      border-radius: 5px;
    }
    .goods__pays {
      font-size: 25px;
      padding: 5px;
      background-color: #3a5998;
      border-radius: 5px;
      color: white;
    }
  }
  .goods__form-description {
    margin: 10px;
    padding: 10px;
    .goods_d {
      font-size: 40px;
      font-weight: 600;
      background-color: rgb(247, 221, 193);
      border-radius: 10px;
      text-align: center;
      width: 300px;
    }
    .goods__description {
      word-wrap: break-word;
      font-weight: 600;
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 25px;
      background-color: rgb(247, 221, 193);
      border-radius: 10px;
    }
  }
}
