.form-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  .form-container {
    margin-top: 80px;
    input[type="text"] {
      margin-top: 20px;
    }
    .uploadD {
      width: 400px;
      height: 100px;
    }
    label[for="file"] {
      font-size: 30px;
      font-weight: 600;
    }
    p {
      margin-top: 40px;
    }
  }
}
